.footer-main{
  background: rgba(226, 244, 255, 1);
}
.footer-heading{
  color: rgba(0, 63, 98, 1);
}
input[type="email"]{
  background-color: rgba(237, 164, 21, 1);
  outline: none;
}
input[type="email"]::placeholder {
  color: white;
  font-size: .7rem;
}
.contact{
  color: rgba(96, 96, 96, 1);
}